body{background-image:url('https://sun9-4.userapi.com/c858216/v858216233/ee36f/vVzRe_KX69o.jpg')}
footer{background-size:100% 100%;background-image:url('https://sun9-43.userapi.com/c853424/v853424130/136a0d/VwPKAFGyl8A.jpg')}
header,h1,footer{opacity:.9}
header img{height:2rem}
h1.alert{margin-bottom:0}
main{padding:2%;min-height:66vh}
@media (min-width:576px){h1{letter-spacing:.5vw}}
@media (max-width:575.98px){h1{font-size:1.75rem}.table-responsive-sm{display:block;width:100%;overflow-x:auto;-webkit-overflow-scrolling:touch}}
@media (max-width:404px){header a.btn{font-size:.7rem}}
@media (min-width:992px){header,footer{padding-left:8%;padding-right:8%}h1,main{margin-left:8%;margin-right:8%}}
.badge{font-size:1em}
.fadeIn{-webkit-animation-name:fadeIn;animation-name:fadeIn;-webkit-animation-timing-function:cubic-bezier(0.455,0.03,0.515,0.955);animation-timing-function:cubic-bezier(0.455,0.03,0.515,0.955)}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
.duration-2000{-webkit-animation-duration:2s;animation-duration:2s}
